<header>
    <div class="contenedor">
        <h2 class="logotipo">DH Movies</h2>
        <nav>
            <a href="/home" class="activo">Inicio</a>
            <a href="#">Peliculas</a>
            <a href="#">Mi Lista</a>
            <a href="/register">Registrarse</a>
            <a href="/login">Iniciar Sesion</a>
        </nav>
    </div>
</header>
